.root{

    -light-black: rgb(74, 75, 78);
    -dark-highlight: rgb(87, 89, 92);
    -dark-black: rgb(39, 40, 40);
    -darkest-black: rgb(5, 5, 5);
    -mid-gray: rgb(180, 199, 244);
    -fx-background-color:
            linear-gradient(from 0% 93% to 0% 100%, #a3b7e3 0%, #8d97e3 100%),
            #808cd8,
            #8895e2,
            radial-gradient(center 50% 50%, radius 100%, #8d97e3, #b4c7f4)

}

.button {
    -fx-background-color:
            #c3c4c4,
            linear-gradient(#d6d6d6 50%, white 100%),
            radial-gradient(center 50% -40%, radius 200%, #e6e6e6 45%, rgba(230,230,230,0) 50%);
    -fx-background-radius: 30;
    -fx-background-insets: 0,1,1;
    -fx-text-fill: black;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 3, 0.0 , 0 , 1 );

}

.button:hover {
    -fx-background-color:
            #909191,
            linear-gradient(#d6d6d6 50%, white 100%),
            radial-gradient(center 50% -40%, radius 200%, #e6e6e6 45%, rgba(230,230,230,0) 50%);
}

.textfield{
    -fx-background-color: -fx-shadow-highlight-color, -fx-text-box-border, -fx-control-inner-background;
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 3, 2, 2;
    -fx-padding: 3 5 3 5;
    -fx-prompt-text-fill: derive(-fx-control-inner-background,-30%);
    -fx-cursor: text;

}

.myborder {
    -fx-border-color: grey;
    -fx-border-radius: 3;
    -fx-border-width: 1;
    -fx-border-insets: 2;
}

.vbox{
    -fx-border-color: grey;
    -fx-border-radius: 3;
    -fx-border-width: 1;
    -fx-border-insets: 2;
    -fx-border-radius: 10 10 10 10;
    -fx-background-radius: 10 10 10 10;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
}

.caspianbackground {
    -fx-background-color: #f4f4f4;
}